.SideBar
  .LeftHeader
    .LeftHeaderBox
      .Username
        name
      .Icons
        .Icon__left
          = link_to "#", class:"Icon__left" do
            = icon('far', 'edit')
        .Icon__right  
          = link_to "#", class:"Icon__right" do  
            = icon('fas', 'cog')
  .GroupLists
    .Group
      .Group__name
        name
      .Group__message
        Hello
    .Group
      .Group__name
        name
      .Group__message
        Hello
